* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.snake {
  width: 10px;
  height: 10px;
  background: #006cff;
  transform: translate(0px, 0px);
  font-size: 0;
  position: absolute;
  transition: transform ease 0.1s;
  &-point {
    background: red;
    transition: none;
  }
}

.points {
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.screen {
  width: 300px;
  height: 280px;
  position: relative;
  overflow: hidden;
  background: #fff;
  &:before,
  &:after {
    opacity: 0.4;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("./../assets/linevert.png");
    background-repeat: repeat;
    width: 100vw;
    height: 100vw;
    display: block;
    background-size: 10px;
    background-position: 5px 0px;
  }
  &:after {
    transform: rotate(90deg);
  }
}

#root {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #333;
}

.game-area {
  display: flex;
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.joystick {
  height: 100%;
  padding-top: 60px;
  background: #4ebfdf;
  width: 120px;
  border-radius: 50px 0 0 50px;
  &-right {
    border-radius: 0 50px 50px 0;
    background: #ee5d54;
  }

  &-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 0;
    box-shadow: 1px 2px 5px black;
    background-image: url("./../assets/caret-up.svg");
    font-size: 0;
    background-position: center;
    background-size: 40px;
    &:nth-child(2n + 1) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &:nth-child(2) {
      transform: rotate(45deg) !important;
    }

    &:nth-child(3) {
      transform: rotate(225deg) !important;
    }

    &:nth-child(4) {
      transform: rotate(135deg) !important;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
  &-reset {
    background-image: url("./../assets/reply.svg") !important;
    font-size: 0;
    background-size: 20px;
    background-repeat: no-repeat;
    transform: rotate(-45deg) !important;
  }
  &-pause {
    background-image: url("./../assets/ui-pause.svg");
    font-size: 0;
    background-size: 20px;
    background-repeat: no-repeat;
  }

  &-play {
    background-image: url("./../assets/ui-play.svg");
    font-size: 0;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}

button.unreverse.joystick-btn.joystick-reset {
  background-image: url("./../assets/reply.svg") !important;
  font-size: 0;
  background-size: 20px;
  background-repeat: no-repeat;
  transform: rotate(-45deg) !important;
}

.reverse {
  width: 100px;
  margin: auto;
  transform: rotateZ(45deg);
}

.unreverse {
  transform: rotateZ(-45deg);
}
.rotate-90 {
  transform: rotate(90deg);
}

.gameover {
  background: #232323;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
}
